# A brief introduction to Jupyter Notebooks and Python

## Brief Jupyter overview

The following sections cover the base information for using the Jupyter Notebook interface for this series of modules.

### Cell types

The basic structure of a Jupyter notebook consists of a sequence of cells from the top to the bottom of the page. The two basic cell types are **Markdown cells** and **Code cells**.

### Markdown cells

This is a Markdown cell. You can create **formatted text** using the *Markdown language*.

See the [Markdown Guide](https://www.markdownguide.org/cheat-sheet/) to learn more about the Markdown syntax.

### Code cells

Code cells contain Python code. The cell below this Markdown cell is a code cell that contains valid Python syntax for:
- defining a variable (`run_it = "run this cell"`),
- creating a conditional statement (`if run_it == "run this cell":`),
- calling the the built-in Python print method (`print("this cell ran")`) to print output,
- and including code comments (comments are preceded by a `#` symbol).

**Run a code cell using `shift+enter`.** Any output will be displayed below the cell.

In [1]:
# Define the variable "run_it" and store the string "run this cell"
run_it = "run this cell"

# Test if the contents of "run_it" is equal to the string "run this cell"
if run_it == "run this cell":
  # Print "this cell ran"
  print("this cell ran")

this cell ran

You can reference variables created in another cell (e.g., `run_it`). The last expression in a cell will be printed by default. A print statement is not required to output the contents of `run_it` in the cell below.

In [2]:
run_it

'run this cell'

## Brief Python overview

### Comments

Comments provide a way to annotate your code in Python. Comments are preceded by a pound `#` symbol and are not interpreted when the code runs.

In [ ]:
# This is comment
# This is another comment

### Variables

Variables are used to store data for reuse in our code. By using variables we can edit the data in one place, the variable assignment, and recall the data stored in the variable at multiple places in our codebase.

In [4]:
# Store an integer in the variable "number"
number = 900

# Calculate the value of "number" * "number"
number_times = number * number

# Output the equation text: "number x number = number_times"
f"{number} x {number} = {number_times}"

'900 x 900 = 810000'

### Data types

Vairables can store different data types. A data type provides a classification for specific data and what operations can be performed on these data. Each data type has associated methods that provide functionality for accessing information about the data or manipulating the data. There are several standard Python data types. Six of these data types (**strings**, **integers**, **floats**, **lists**, **dictionaries**, and **booleans**) are covered here.

#### Strings

Strings consist of a sequence of characters and are created by surrounding a character sequence in single `''` or double `""` quotes.

In [1]:
# A string defined with double quotes
"This is a valid string"

# A string defined with single quotes
'This is also a valid string'

# Get the data type of an object using the built-in Python method type()
type('A string')

str

##### String concatenation

String concatenation is used to combine multiple strings into one string.

In [44]:
string_1 = "This is"
string_2 = " string concatenation"

string_1 + string_2 + " | " + string_1 + string_2

'This is string concatenation | This is string concatenation'

##### Accessing characters in a string (string indexing)

Access one character or a slice of characters from a string using indexing. Indexes in Python begin with zero, not one.

In [84]:
example_string = "Hello. Thanks for learning with us!"

# Access a single character by zero-based index position from the beginning of string
example_string[1]

# Get the length of the string using the built-in Python method len()
string_len = len(example_string)

# Get the last character in the string using the length
example_string[string_len - 1]

# Get characters referenced from the end of a string using negative index
example_string[-1]

'!'

In [85]:
# Slicing a string [start:end:step] (end position is non-inclusive)
example_string[0:2]

# Exclude the start position if slicing from the start of the string
example_string[:2]

# Slice using negative index
example_string[-2:]

's!'

##### String methods

Methods can be called on a string, and all other data types, using dot `.` notation. In order to run the method, the method name must be followed by opened and closed parentheses `()`

In [86]:
# Convert "example_string" characters to uppercase using the upper method
example_string.upper()

'HELLO! THANKS FOR LEARNING WITH US!'

In [87]:
# Split the string at the occurance of spaces
example_string.split(" ")

['Hello!', 'Thanks', 'for', 'learning', 'with', 'us!']

#### Numbers (integers and floats)

Integers include postitive and negative whole numbers. Floats consist of numbers with a decimal point.

In [2]:
example_int = 10
example_float = 10.1

print(type(example_int), type(example_float))

<class 'int'> <class 'float'>

##### Mathematical operations

Mathematical operations follow standard order of operations (exponent, remainder, division, multiplication, addition, subtraction). It is important to be aware of what type of number is returned by an operation.

In [16]:
# Multiplication of integers returns an integer
10 * 10

100

In [17]:
# Multiplication of an integer and a float returns a float
10 * 10.1

101.0

In [18]:
# Division of integers returns a float
10 / 2

5.0

In [19]:
# Use double slashes (//) to perform integer division
10 // 3

3

In [20]:
# Calculate exponents using double asterisks (**)
3 ** 2

9

In [21]:
# Calculate the remainder of division using the percent sign (%)
10 % 3

1

#### Lists

Lists hold a sequence of items. Items can be of any data type and a single list can contain multiple data types. A list is created by including comma seperated objects between open and closed square brackets `[]`.

In [22]:
# Create a list of strings
['item1', 'item2', 'item3']

['item1', 'item2', 'item3']

In [23]:
# Create a list of mixed data types
mixed_list = [1, 'two', [3, 'four']]

# Print the item and item type for each item in the mixed list
for item in mixed_list:
  print(item, type(item))

1 <class 'int'>
two <class 'str'>
[3, 'four'] <class 'list'>

##### List indexing

Access items from a list using indexing similar to strings.

In [28]:
# Access a single item from a list
mixed_list[0]

# Access multiple items from a list
mixed_list[:2]

# Get the length of a list
list_len = len(mixed_list)

# Access the last item from a list
mixed_list[list_len - 1]

# Access the last item from a list using negative reference
mixed_list[-1]

[3, 'four']

In [29]:
# Replace items in a list using direct assignment with indexing
mixed_list[0] = "Updated item"

# Print updated list
mixed_list

['Updated item', 'two', [3, 'four']]

##### List methods

In [30]:
# Add an item to the end of a list using the append method
mixed_list.append('new item')

# Print the updated list
mixed_list

['Updated item', 'two', [3, 'four'], 'new item']

In [32]:
# Get the index of the first item with a specified value using the index method
mixed_list.index('two')

1

#### Dictionaries

Dictionaries hold values that are associated with a key, they exist as pairs. Each key (like a word in a dictionary) has a value (like the word's definition). Access the values in a dictionary by referencing the key, since each key is unique.

A dictionary is created using braces `{}` between which each key and value are assigned using the format `key_1: value, key_2: value, ...`

In [34]:
# Create an example dictionary
example_dict = {"apple": "fruit", 'banana': 'fruit', 'corn': 'vegetable'}

# Print the dictionary
example_dict

{'apple': 'fruit', 'banana': 'fruit', 'corn': 'vegetable'}

In [35]:
# Access the value of a dictionary by calling its key pair
example_dict['apple']

'fruit'

In [39]:
# Directly add new keys and values to a dictionary
example_dict['orange'] = 'fruit'

# Print the updated dictionary
example_dict

{'apple': 'fruit', 'banana': 'fruit', 'corn': 'vegetable', 'orange': 'fruit'}

#### Booleans

Booleans can represent one of two values, either `True` or `False`. Booleans are typically the result of conditional expressions comparing values using comparison operators (`>`, `<`, `==`, `!=`, `<=`, `>=`).

In [42]:
# Create a boolean by testing if two strings are equal
"Hello" == "Hello"

True

In [48]:
# Create a boolean by comparing two integers
10 != 4

True

#### Control flow

Control flow refers to statements that allow you to change the path of execution of your program. Instead of executing each line of code in order, you can make repeat lines of code or move to different lines of code depending on different conditions.

##### If statements

An `if` statement is used to check if a conditional expression (e.g., `5 > 1`) is true or false and run a block of code contingient on the results of the comparison. A block of code associated with an `if` statement is defined using indentation. A basic `if` statement has the following generalized syntax:
```python
if conditional_expression:
    '''
    indented block of code
    that will run when
    conditional_expression equals true
    '''
```

In [52]:
# An example if statement
if 5 > 1:
  print("This is true")

This is true

In [55]:
# Use the else keyword to conditionally run code when the if statement is false
if 5 == 2:
  print("This is true")
else:
  print("This is false")

This is false

In [61]:
# Use elif to include multiple conditional statments
name = "Bill"

if name == "Bill":
  print("Hi, Bill!")
elif name == "Bob":
  print("Hi, Bob")
else:
  print("Who are you?")

Hi, Bill!

Use logical statments (`and`, `or`, and `not`) to test multiple conditions in one `if` statement

In [62]:
# Test if name is Bill or Bob
if name == "Bill" or name == "Bob":
  print("Hi,", name)
else:
  print("Who are you?")

Hi, Bill

##### For loops

For loops iterate over a sequence of objects such as items in a list or characters in a string. A for loop has the generalized syntax:
```python
for item in sqeuence:
    '''
    indented block of code
    that will run for each
    item in sequence
    '''
```

In [64]:
# Create a list of integers
list_a = [1, 2, 3, 4, 5]

# Loop through each item in the list and print that item
for item in list_a:
  print(item)

1
2
3
4
5

In [65]:
# Create a string
string_a = 'Hello again!'

for char in string_a:
  print(char)

H
e
l
l
o

a
g
a
i
n
!

### Functions

At the most basic level, functions are chunks of reusable code. A function can accept data, passed in as arguments, and return data.

A function is declared using the generalized syntax:

```python
def function_name(arg_1, arg_2, arg_3):
    indented function code...
    return value
```

In [38]:
# Define a function that adds two numbers
def add_two_nums(num1, num2):
  # Return the results of num1 + num2
  return num1 + num2

# Call the function and add two numbers
add_two_nums(5, 100)

105

In [69]:
# Define a function that replaces periods with exclamation marks in a string
def replace_period(string):
  new_string = ""
  for char in string:
    if char == ".":
      new_string = new_string + "!"
    else:
      new_string = new_string + char
  return new_string

# Call the function on a string that contains periods
replace_period("This. is. a. boring. sentance.")

'This! is! a! boring! sentance!'